
/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
background: linear-gradient(90deg, rgb(235, 233, 233) 0%, rgb(229, 231, 231) 100%);
font-family: 'Roboto', sans-serif;
}
/* END OF GENERAL SETTINGS */

/* Styling of version display box */
.varsion-display {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 6rem;
  padding: .5rem 1.5rem;
  font-size: 1.4rem;

}

/* HEADER */

.header {
  width: 90%;
  margin: 4rem auto 3rem auto;
}

/* HEADINGS */

.heading {
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.heading--1 {
  font-size: 4.5rem;
}

.heading--2 {
  font-size: 3.5rem;
}

.heading--3 {
  font-size: 2.8rem;
  font-weight: 300;
}


/* INPUT WRAPPER AND INPUT FILE STYLING */
.input-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 8rem;
  align-items: center;
  font-size: 2rem;
  border: 2px solid rgba(227, 42, 51, 0.6);
  border-radius: .5rem;
  background-color: #fff;
  /* box-shadow: .1rem .1rem 1rem rgba(68,68,68, 0.6); */
}


/* Styling of input type="file"  */
.input-field::-webkit-file-upload-button {
  visibility: hidden;
}
.input-field::before {
  content: 'Select excel file';
  height: 4rem;
  display: inline-block;
  background-color: rgba(227, 42, 51, 0.9);
  color: #fff;
  border: 1px solid rgba(227, 42, 51, 1);
  border-radius: .3rem;
  padding: 1.5rem 1rem .5rem 1rem;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 300;
  font-size: 2rem;
}
.input-field:hover::before {
  border-color: black;
}
.input-field:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.input-field {
  width: 90%;
  font-size: 2.2rem;
}

.icon {
  font-size: 2.8rem;
  color: rgba(227, 42, 51, 0.9);
  margin-right: 2rem;
}

/* SECTIONS STYLING */
.section {
  width: 90%;
  margin: 3rem auto;
  padding: 2rem 3rem;
}

/* content-section */
.content-section {
  width: 75%;
}

/* Styling of SELECT  */
select {

  /* styling */
  background-color: white;
  border: thin solid;
  border-radius: 4px;
  display: block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* select-wrapper */
.select-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.taskSelections {
  width: 45%;
  margin-right: 2.5rem;
  font-size: 3.2rem;
  font-weight: 300;
  padding: 0.8rem 1.2rem;
  display: inline-block;
  background-image:
    linear-gradient(45deg, transparent 50%, #ff0033 50%),
    linear-gradient(135deg, #ff0033 50%, transparent 50%),
    linear-gradient(to right, #ffc2ce, #ffc2ce);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.taskSelections:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, #ff0033, #ff0033);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: #ff0033;
  outline: 0;
}

/* Styling of the button */
.btn {
  display: inline-block;
  width: 27rem;
  background-color: #ff0033;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .5rem rgba(0,0,0, 0.3);
  border: none;
  border-radius: .5rem;
  padding: 0.8rem 1.2rem;
}

/* Styling of error message */
.error-msg {
  width: 100%;
  text-align: center;
  padding: 1.2rem 1.5rem;
  background-color: #ffc2ce;
  color: #ff0033;
  font-size: 2.5rem;
  border: 1px solid rgba(255, 0, 51, 0.6);
  border-radius: .5rem;
  margin: 3rem 0;
  display: none;
  transition: display 0.5s;
}


/* Styling of answers lists */
.answers-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.8rem;
  list-style: none;
  border-bottom: 1px solid rgba(227, 42, 51, 0.6);
  margin-bottom: 1.5rem;
  padding: .5rem 1.5rem;
}

.answer { 
  margin-right: 1.5rem;
}

/* Style icons to edit each tasks */

.edit-icon {
  margin-left: 2.5rem;
  font-size: 2rem;
  color: #ff0033;
  cursor: pointer;
}

/* Styling of missed tasks % count */
.missed-tasks-section {
  width: 100%;
  display: none;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 1.6rem;
  border-radius: .5rem;
}

/* STYLING OF INFO DISPLAY */
/* Styling of missed items - section styling  */
.missed-items {
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  /* width: 5rem; */
  border: 1px solid #f9f9f9;
  border-radius: .3rem;
  margin-right: 1.5rem;
}

/* Styling of missed section - when over the limit (red) */
.red-section {
  background-color: #ffc2ce;
  border: 1px solid #ff0033;
}

/* Styling of missed section - when below the limit (green) */
.green-section {
  background-color: #63dd9c;
  border: 1px solid #097a3e;
}

/* Styling of <li> in the questions list - when entered value is incorrect */
.incorrect-value {
  background-color: #ffc2ce;
  border-bottom: 1px solid #ff0033;
  color: #ff0033;
}

/* Styling of Store details info display */
.store-details {
  width: 40%;
  margin: 2.5rem auto;
  position: relative;
  padding: 1.2rem 2.5rem;
  font-size: 2.4rem;
  border: 1px solid #ffc2ce;
  border-radius: .5rem;
  text-align: center;
  /* box-shadow: .5rem .5rem 2rem rgba(68,68,68, 0.2); */
}

.store-details::before {
  content: 'Store details';
  font-size: 1.2rem;
  color: rgba(51, 51, 51, 0.6);
  padding: .2rem .6rem;
  position: absolute;
  background-color: rgb(235, 233, 233);
  top: -.8rem;
  left: 2rem;
  z-index: 10;
  letter-spacing: .1rem;
  border: none;
}

.store-details--muted {
  color: rgba(51, 51, 51, 0.3);
}

/* FOOTER STYLING */
.footer {
  width: 100%;
  height: 6.5rem;
  background-color: rgba(68,68,68, 0.6);
  color: #fff;
}

.footer-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-shadow: .1rem .1rem .5rem #333;
}

/* Styling of modals */
.section-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 100;
  transition: display 0.5s ease-out;
}

.modal-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 65vh;
  padding: 2rem 1rem;
  background-color: rgba(0,0,0, 0.95);
  z-index: 200;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: .5rem .5rem 15rem rgba(0,0,0, 0.6);
}

.modal-task-wrapper {
  width: 80%;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.4rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.modal-task-name {
  width: 80%;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 3rem;
  color: #ff0033;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-answer {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Style the help text box */
.help-section {
  background-color: #F0EDED;
  width: 100%;
  padding: 2rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  margin: 0 auto 4rem auto;
  position: relative;
  display: none;
  margin: 5rem 0;
}

.copy-text {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3.5rem;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  color: #fff;
  transition: color .5s;
}

.copy-text:hover {
  color: #ff0033;
}

.copy-text:hover .copy-info {
  visibility: visible;
  opacity: 1;
}


.copy-text:hover .copy-info-copied {
  display: none;
}

.help-text {
  width: 100%;
  background: transparent;
  font-size: 1.6rem;
  padding: 1.5rem;
  border: none;
  font-family: 'Roboto', sans-serif;
  outline: none;
}


.copy-info {
  display: block;
  position: absolute;
  top: -3.5rem;
  right: -.5rem;
  font-size: 1.4rem;
  padding: .4rem .8rem;
  background-color: #333;
  color: #fff;
  border-radius: 2px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 10;
}

 
.copy-info::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 1.7rem;
  right: 2rem;
  background-color: #333;
  z-index: -10;
  transform: rotate(45deg);
}

.copy-info-copied {
  z-index: 50;
  display: none;
  background-color: #097a3e;
  color: #fff;
  transition: display 0.5s;
}

.copy-info-copied::after {
  background-color: #097a3e;
}

/* Styling of the loader */
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  width: 26rem;
  height: 16rem;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem 3rem;
}

.loader-container img {
  width: 16rem;
  height: 12rem;
}